/* ==========================================================================
   Header responsive styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-page-header {
    display: none;
  }
}

/* ==========================================================================
   Header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .qodef-boxed .qodef-page-header .qodef-fixed-wrapper.fixed {
    width: 1000px;
  }
}

/* ==========================================================================
   Fixed header responsive style - end
   ========================================================================== */
/*==========================================================================
# Fullscreen menu responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-fullscreen-menu-holder {
    padding: 90px 20px 20px;
  }
  .qodef-fullscreen-below-menu-widget-holder,
  .qodef-fullscreen-above-menu-widget-holder {
    right: 10%;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-fullscreen-menu-holder {
    padding: 60px 10px;
  }
  nav.qodef-fullscreen-menu > ul > li.has_sub > a > span:after {
    bottom: 0;
  }
  nav.qodef-fullscreen-menu > ul > li > ul.sub_menu {
    top: calc(100% - 54px);
  }
  nav.qodef-fullscreen-menu > ul > li > a {
    font-size: 25px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-fullscreen-menu-holder {
    padding: 90px 10px 20px;
  }
  nav.qodef-fullscreen-menu > ul {
    width: 160px;
  }
  nav.qodef-fullscreen-menu > ul > li.open_sub > a > span:after {
    width: calc(100% + 30px);
  }
  nav.qodef-fullscreen-menu > ul > li ul.sub_menu li a {
    left: 45px;
  }
  .qodef-fullscreen-below-menu-widget-holder {
    bottom: 0;
  }
}

/*==========================================================================
# Fullscreen menu responsive style - end
========================================================================== */
/* ==========================================================================
   Header Vertical responsive style - begin
   ========================================================================== */
@media only screen and (min-width: 1025px) {
  .error404.qodef-header-vertical .qodef-content {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-header-vertical .qodef-vertical-menu-area {
    display: none;
  }
  .qodef-header-vertical .qodef-content,
  .qodef-header-vertical footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1440px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 950px;
  }
}

@media only screen and (max-width: 1200px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 600px;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-row-grid-section {
    width: 90%;
  }
}

/* ==========================================================================
   Header Vertical responsive style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-mobile-header {
    display: block;
  }
}

/* ==========================================================================
   Mobile header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .qodef-boxed .qodef-page-header .qodef-sticky-header {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 92%;
  }
}

/* ==========================================================================
   Sticky header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Top header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-top-bar {
    display: none;
  }
}

/* ==========================================================================
   Top header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Header responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map-responsive.css.map */
